@import url("https://fonts.googleapis.com/css?family=Anton|Bungee|Teko");
* {
  font-family: "Teko";
  background-color: #0e2240;
  color: white;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
